<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 footer_col">
                <div class="footer_column footer_contact">
                    <div class="logo_container">
                        <div class="logo"><a href="#">LD GAMES</a></div>
                    </div>
                    <div class="footer_title">Alguma questão?</div>
                    <div class="footer_phone">+55 085 4002-8922</div>
                    <div class="footer_contact_text">
                        <p>Cascavel 1010, Ceará</p>
                        <p>No meio do mato, BR</p>
                    </div>
                    <div class="footer_social">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-google"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 offset-lg-2">
                <div class="footer_column">
                    <div class="footer_title">Procura rápida</div>
                    <ul class="footer_list">
                        <li><a href="#">Jogos</a></li>
                        <li><a href="#">Mais jogos</a></li>
                        <li><a href="#">Mais ainda</a></li>
                        <li><a href="#">Eita que é jogo!</a></li>
                        <li><a href="#">Olokinho meu</a></li>
                    </ul>
                    <div class="footer_subtitle">Gadgets</div>
                    <ul class="footer_list">
                        <li><a href="#">Jogos eletronicos</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="footer_column">
                    <ul class="footer_list footer_list_2">
                        <li><a href="#">Video Games & só</a></li>
                        <li><a href="#">Itens cash</a></li>
                        <li><a href="#">Skins</a></li>
                        <li><a href="#">Fru fru fru</a></li>
                        <li><a href="#">Montarias</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="footer_column">
                    <div class="footer_title">Algo customizado</div>
                    <ul class="footer_list">
                        <li><a href="#">Tua conta</a></li>
                        <li><a href="#">Não sei a tradução</a></li>
                        <li><a href="#">Lista de desejos</a></li>
                        <li><a href="#">Serviços personalizados</a></li>
                        <li><a href="#">Retornos</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Suporte não tem, comprou pq quis</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>