<div class="top_bar">
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-row">
                <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="../assets/images/phone.png" alt=""></div>+55 085 4002-8922</div>
                <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="../assets/images/mail.png" alt=""></div><a href="mailto:fastsales@gmail.com">danielcv.games@hotmail.com</a></div>
                <div class="top_bar_content ml-auto">
                    <div class="top_bar_menu">
                        <ul class="standard_dropdown top_bar_dropdown">
                            <li>
                                <a href="#">Brasiliano<i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <li><a href="#">Hue Hue BR</a></li>
                                    <li><a href="#">Cearenses</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">$ US dollar<i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <li><a href="#">EUR Euro</a></li>
                                    <li><a href="#">GBP British Pound</a></li>
                                    <li><a href="#">JPY Japanese Yen</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="top_bar_user">
                        <div class="user_icon"><img src="../assets/images/user.svg" alt=""></div>
                        <div><a href="#">Registrar-se</a></div>
                        <div><a href="#">Logar</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>		
</div>